
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <form style="width: 50%; margin: auto;" method="post">
    <h1> Register Page </h1>
    {% csrf_token %}
    {{form | crispy}}
    
    <button class="btn btn-warning mb-5">Submit</button>
    </form> -->



    <div class="container">
        <div class="shadow row d-flex justify-content-center align-items-center mx-auto my-5  rounded-3">
    <div class="my-5 d-flex justify-content-center">
        <div class="row container align-items-center m-0">
            <div class="col-12 col-md-6 d-flex order-1 order-md-2 justify-content-center">
                <img src="/static/register.jpg" class="w-100" alt="Answer Picture">
            </div>
            <div class="col-12 col-md-6 order-2 order-md-1">
                <div class="card p-4">
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        <h2 class="text-center mb-4">Sign Up</h2>
                        
                        {% for field in form %}
                        <div class="mb-3">
                            {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{ field.label_tag }} {{ field }}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div> 
    
{% endblock %}