{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>your point {{user_data.score}}</h1>
<h1>your currect Qusestion {{user_data.currect_quiz}}</h1>
<table class="table">
    <thead>
      <tr>


        <th scope="col">Question</th>
        <th scope="col">Your Answer</th>
        <th scope="col">Currect</th>
      </tr>

    </thead>
    <tbody>
      <tr>
        {% for x in data%}
  
        <td>{{x.question}}</td>
        <td>{{x.your_choice}}</td>
        <td>{{x.currect_choice}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>



{% endblock %}